# --- Archivos y carpetas generadas por Jekyll ---
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.bundle/

# --- Archivos locales de Ruby (no se usan en producción) ---
Gemfile
Gemfile.lock

# --- Configuración de IDEs ---
.idea/
*.iml

# --- Archivos temporales del sistema operativo ---
.DS_Store
Thumbs.db
