# Archivos y carpetas generadas por Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.bundle/

# Archivos relacionados con Ruby (si no trabajas con ellos directamente)
Gemfile
Gemfile.lock

# Archivos de configuración de IDEs
.idea/
*.iml

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
